.backing {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.backing.reveal {
    background-color: #111a;
    color: white;
    z-index: 1000;
    animation: reveal .05s linear 3s both;
}

.reveal.quick{
    animation: reveal .25s linear 0s both;
}
.reveal.quick .plaque{
    animation: reveal .25s linear 0s both;
    box-shadow: none;
    padding: 30px 0;
}

.reveal .plaque {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 700px;

    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 150px #444;
    background-color: #333;
    border-radius: 15px;
    padding-top: 50px;
    box-sizing: border-box;


    z-index: 1100;

    animation: reveal .5s linear 3.25s both;
    transition: box-shadow 4s 3.7s;
}

.plaque .row {
    margin-top: 35px;
}

.plaque h1,h2 {
    margin: auto;
    padding: 0px 50px;
    font-size: 24px;
}

.plaque h2{
    font-size: 20px;
    font-weight: 500;
}

.history {

    background-color: #444;
    margin: 10px auto;
    width: 200px;
    height: 230px;
    padding: 20px;
    white-space: pre-line;
    overflow-y: scroll;

}

.bottom{
    position: absolute;
    left:0;
    right:0;
    margin: auto;

    bottom: 20px;
}

.bottom .button{
    margin: 35px auto;
}

@keyframes reveal {
    from {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}