.App{
  margin-top: 50px;
}

#big {
  --size: 140px;
  background-color: var(--color);
  animation: spiiin 5s linear  infinite;
  animation-delay: calc(var(--rand) + 1s);
}

.row {
  display: flex;
  justify-content: center;

}

@keyframes spiiin {
  0%,10%,20% {
    transform: rotateX(0);
  }

  5%,15%{
    transform: rotateX(90deg);
  }
}

